<h1 mat-dialog-title>Params Info</h1>
<mat-tab-group animationDuration="0ms">
  <mat-tab label="UA">
    <img style="width: 80%;" src="assets/img/nice.png" alt="">
  </mat-tab>
  <mat-tab label="RU">
    <img style="width: 80%;" src="assets/img/nice.png" alt="">
  </mat-tab>
  <mat-tab label="ENG">
    <img style="width: 80%;" src="assets/img/nice.png" alt="">
  </mat-tab>
</mat-tab-group>


<div mat-dialog-actions>
  <button style="float: left; position: absolute" mat-button mat-dialog-close>Close</button>
</div>
