mat-toolbar {
  background-color: #ec4e20;
  position: sticky;
  width: 100% !important;
  min-height: 8% !important;
  height: 8% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.btn {
  background-color: #fbaf00;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 16px;
  padding: 12px 25px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  letter-spacing: 1px;
}

.floating-btn {
  border-radius: 26.5px;
  background-color: #fbaf00;
  border: 1px solid #fbaf00;
  box-shadow: 0 16px 22px -17px #fbaf00;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 20px;
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 999;
}

.floating-btn:hover {
  background-color: #d1ac00;
  color: #ffffff;
}

.floating-btn:focus {
  outline: none;
}

@media screen and (max-width: 480px) {

  .social-panel-container.visible {
    transform: translateX(0px);
  }

  .floating-btn {
    right: 10px;
  }
}

.toolbar-icon {
  margin-top: -1%;
  margin-right: 1%;
  color: white;
}

.toolbar-btn {
  margin-top: -1%;
  background: transparent;
  color: white;
}

.mat-icon-account {
  height: 24px;
  width: 24px;
  font-size: 40px;
  margin-right: 2%;
  margin-bottom: 20px;
  margin-top: -1%;
  color: white;
}

.navbar-text {
  width: 100%;
  left: 0;
  top: 0;
  text-align: left;
 font-size: medium;
  color: white;
}

.mat-input-with-line{
  color: white;
  text-decoration-color: white;
}
.navbar-search {
  color: white;
  margin-left: 30px;
  margin-top: -1%;
  width: 60%;
  font-size: smaller;
}

::placeholder {
  color: white;
  opacity: 0.8;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #5c6bbf;
}


.site {
  display: flex;
  flex-direction: column;
  min-height: 94vh;
}
