<form style="max-width: 64em;
    margin: auto;
    text-align: center;"
[formGroup]="reference.formGroup">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="container-input" appearance="legacy">
          <mat-label>Article Separator (sp)</mat-label>
          <mat-select formControlName="articleSeparator" required (change)="addNewRule()">
            <mat-option
              (click)="addCustomSeparator(true)"
              *ngFor="let option of articleSeparators | async"
              [value]="option">
              {{option}}
            </mat-option>
            <mat-option (click)="addCustomSeparator(false)" value="option3">Custom</mat-option>
          </mat-select>
          <mat-error *ngIf="reference.formGroup.controls. articleSeparator.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field  class="container-input" appearance="legacy">
          <input matInput type="text" placeholder="Type char for 'Custom' case"
                 formControlName="articleSeparatorInput"
                 [readonly]="isCustomArticleSeparator">
          <mat-error *ngIf="reference.formGroup.controls.articleSeparatorInput.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="container-input" appearance="legacy">
          <mat-label>Definition Separator (Rl)</mat-label>
          <mat-select required formControlName="definitionSeparator" (change)="addNewRule()">
            <mat-option *ngFor="let option of relators | async" [value]="option">
              {{option}}
            </mat-option>
            <mat-option>
             Custom
            </mat-option>
          </mat-select>
          <mat-error *ngIf="reference.formGroup.controls.definitionSeparator.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field  class="container-input" appearance="legacy">
          <mat-label>Type char for Custom Rl</mat-label>
          <input matInput
                 formControlName="definitionSeparatorInput"
                 placeholder="Ex: \ | - ~"
                 [readonly]="isCustomDefinitionSeparator">
          <mat-error *ngIf="reference.formGroup.controls.definitionSeparatorInput.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="container-input" appearance="legacy">
          <mat-label>Term Separator (dl)</mat-label>
          <input matInput
                 formControlName="termSeparator"
                 placeholder=", . | - "
                 (change)="addNewRule()"
                 required>
          <mat-error *ngIf="reference.formGroup.controls.termSeparator.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-slide-toggle
          (change)="addNewRule()"
          formControlName="stylisticZone">
          Stylistic Zone
        </mat-slide-toggle>
        <mat-error *ngIf="reference.formGroup.controls.stylisticZone.invalid">{{getErrorMessage()}}</mat-error>
      </td>
    </tr>
  </table>


</form>

<button mat-stroked-button class="help-button" (click)="openHelpDialog()">HELP</button>



