<h1>Create New Electronic Dictionary</h1>
<div class="card">
  <mat-card>
    <mat-horizontal-stepper labelPosition="bottom" #stepper>
      <mat-step label="File"
                [stepControl]="classReference.formGroup"
                errorMessage="File is required."
                state="attach_file"
                [editable]="!isEditable">
        <form [formGroup]="classReference.formGroup">
          <app-file-upload formControlName='file' ngDefaultControl></app-file-upload>
        </form>
        <div>
          <button mat-button style="float: right;" matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step label="Params" state="settings">
        <app-fill-params (ruleEvent)="onRuleChanged($event)"></app-fill-params>
        <div style="float: right">
          <button  mat-button matStepperPrevious>Back</button>
          <button  mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step label="Test">

      </mat-step>

      <!-- Icon overrides. -->
      <ng-template matStepperIcon="phone">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="chat">
        <mat-icon>forum</mat-icon>
      </ng-template>
    </mat-horizontal-stepper>
  </mat-card>
  <button mat-raised-button color="primary" (click)="returnHome()" class="close-btn">Cancel</button>
</div>

