.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.card {
  margin: auto;
  max-width: 80%;
}

.close-btn {
  float: right;
}

.row {
  display: inline-block;
}

h1 {
  color: #7a7c7f;
  font-size: 24px;
  font-family: 'Georgia', sans-serif;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
}
