.wrapper {
  position: relative;
  perspective: 40em;
  display: grid;
  transform-style: preserve-3d;
}

.card {
  grid-area: 1 / 1;
  height: 70px;
  width: 40px;
  transform: translateX(10px) rotateY(25deg) rotateX(10deg);
  background: rgba(249, 198, 26, 0.88);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  backface-visibility: hidden;
  box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
}

h1 {
  font-size: 16px;
  font-weight: 900;
}

.card .enclosed {
  background: #000;
  line-height: 1;
  color: rgba(249, 198, 26, 1);
  padding: 0 5px;
  display: inline-block;
  transform: translate(-1px, 1px) scale(0.75);
  transform-origin: right center;
}

.wrapper:before {
  --bw: 9px;
  grid-area: 1 / 1;
  content: '';
  backface-visibility: hidden;
/*  height: 10%;
  width: 10%;*/
  margin-top: calc(-1 * var(--bw));
  margin-left: calc(-1 * var(--bw));
  background: transparent;
  transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
  pointer-events: none;
  border: var(--bw) solid #000;
  box-sizing: content-box;
}


.wrapper:hover > div,
.wrapper:hover:before {
  transform: none;
}


.wrapper > div,
.wrapper:before {
  will-change: transform;
  transition: .3s transform cubic-bezier(.25,.46,.45,1);
}



html,
body {
  min-height: 70% !important;
  height: 70% !important;
}

body {
  display: grid;
  place-items: center;
  background:
    linear-gradient(to bottom right, #3C4BBD 15%, transparent),
    radial-gradient(circle at 100% 0%, rgba(255,255,255,.2) 10%, transparent 20%) center center / 15px 15px,
    linear-gradient(to bottom right, #3C4BBD, #57ADD8);
}

mat-toolbar {
  background-color: #ec4e20;
  position: sticky;
  width: 100% !important;
  min-height: 70% !important;
  height: 70% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.btn {
  background-color: #fbaf00;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 16px;
  padding: 12px 25px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  letter-spacing: 1px;
}

.floating-btn {
  border-radius: 26.5px;
  background-color: #fbaf00;
  border: 1px solid #fbaf00;
  box-shadow: 0 16px 22px -17px #fbaf00;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 20px;
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 999;
}

.floating-btn:hover {
  background-color: #d1ac00;
  color: #ffffff;
}

.floating-btn:focus {
  outline: none;
}

@media screen and (max-width: 480px) {

  .social-panel-container.visible {
    transform: translateX(0px);
  }

  .floating-btn {
    right: 10px;
  }
}

.toolbar-icon {
  margin-top: -1%;
  margin-right: 1%;
  color: white;
}

.toolbar-btn {
  margin-top: -1%;
  background: transparent;
  color: white;
}

.mat-icon-account {
  height: 24px;
  width: 24px;
  font-size: 40px;
  margin-right: 2%;
  margin-bottom: 20px;
  margin-top: -1%;
  color: white;
}

.navbar-text {
  width: 100%;
  left: 0;
  top: 0;
  text-align: left;
 font-size: medium;
  color: white;
}

.mat-input-with-line{
  color: white;
  text-decoration-color: white;
}
.navbar-search {
  color: white;
  margin-left: 30px;
  margin-top: -1%;
  width: 60%;
  font-size: smaller;
}

::placeholder {
  color: white;
  opacity: 0.8;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #5c6bbf;
}


.site {
  display: flex;
  flex-direction: column;
  min-height: 94vh;
}
