<h4>Results after dictionary upload:</h4>
<div style="display: inline-block; width: 100%">
  <mat-form-field style="width: 50%" appearance="legacy">
  <mat-label>Type some Term for custom test</mat-label>
  <input matInput  type="text" placeholder="Type some term...." name="ASInput">
</mat-form-field>
  <h3 style="display: inline-block;width: 50%">Search result:</h3>
</div>
<h3>Does it looks good?</h3>
<div style="display: inline-block;">
  <button  mat-raised-button color="accent" (click) = submit()>FINISH</button>
</div>

