h6, p{
  font-family: pencilPete, serif;
  max-width: 800px;
}

.c-heroImageGrid {
  position: relative;
  overflow: hidden;
  height: 50vw;
  background: #fff;
  margin-bottom: 20px;
}

.c-heroImageGrid .container {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: -20vw;
  left: -8vw;
  transform: rotateZ(45deg);
  height: 100vw;
  width: 107vw;
}

.c-heroImageGrid .container .column {
  overflow: hidden;
  position: relative;
}

.c-heroImageGrid .container .column:nth-of-type(1) {
  border-right: 8px solid white;
  width: 25%;
  height: 66vw;
}

.c-heroImageGrid .container .column:nth-of-type(1):hover {
  opacity: 0.75;
  cursor: pointer;
}

.c-heroImageGrid .container .column:nth-of-type(1):before {
  position: absolute;
  top: 8.4vw;
  left: 8.1vw;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateZ(-45deg);
  content: "";
  width: 37vw;
  height: 38vw;
  background-image: url('~src/assets/img/img.png');
}


.c-heroImageGrid .container .column:nth-of-type(2) {
  display: flex;
  flex-direction: column-reverse;
  width: 75%;
  height: 109.1vw;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row {
  border-top: 8px solid #fff;
}


.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(1) {
  position: relative;
  overflow: hidden;
  height: 50vw;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(1):hover {
  opacity: 0.75;
  cursor: pointer;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(1):before {
  position: absolute;
  top: -10.1vw;
  left: -14.3vw;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateZ(-45deg);
  content: "";
  width: 65vw;
  height: 39vw;
  background-image: url('~src/assets/img/img_2.png');
}
.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) {
  display: flex;
  height: 40.5vw;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(3) {
  border-top: none;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(1) {
  overflow: hidden;
  width: 30%;
  background-color:#d1ac00;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(1) .text {
  width: 100%;
  height: 100%;
  overflow: visible;
  transform: rotateZ(-45deg);
  position: relative;
}

.text {
  margin-top: 40px;
  margin-left: -50px;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(1) .text h6 {
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2vw;
  width: 20vw;
  top: 16vw;
  left: 7vw;
  line-height: 1.55vw;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(1) .text p {
  text-align: center;
  position: absolute;
  color: #fff;
  font-size: 1.5vw;
  width: 18vw;
  top: 23.5vw;
  left: 20%;
}


.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(2) {
  position: relative;
  width: 70%;
  border-left: 8px solid white;
  overflow: hidden;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(2):hover {
  opacity: 0.75;
  cursor: pointer;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(2):before {
  position: absolute;
  top: -12vw;
  left: -15vw;
  width: 65.1vw;
  height: 55vw;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateZ(-45deg);
  content: "";
  background-image: url('~src/assets/img/img_5.png');
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(3) {
  position: relative;
  height: 18.6vw;
  overflow: hidden;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(3):hover {
  opacity: 0.75;
  cursor: pointer;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(3):before {
  position: absolute;
  top: 7.5vw;
  left: 25vw;
  width: 33vw;
  height: 27vw;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateZ(-45deg);
  content: "";
  background-image: url('~src/assets/img/img_2.png');
}





