<div class="c-heroImageGrid">
  <div class="container">
    <div class="column"></div>
    <div class="column">
      <div class="row"></div>
      <div class="row">
        <div>
          <div class="text">
           <h6><br>
              {{user.name}}<br>
            </h6>
              <p>
                Email:{{user.email}}<br>
                Role: {{user.role}}<br><br>
                Created Domain Dictionaries:{{numOfDD}}<br><br><br>
                <button style="margin-left: -75px;" mat-icon-button>
                  <mat-icon style="font-size: 48px;">save_alt</mat-icon>
                </button>
            </p>
          </div>
        </div>
        <div></div>
      </div>
      <div class="row">
      </div>
    </div>
  </div>
</div>
