@import '../node_modules/@angular/material/theming';

@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$my-app-primary: mat-palette($mat-amber, 300);
$my-app-accent: mat-palette($mat-orange, 900);
$my-app-error: mat-palette($mat-red);
$my-app-background: mat-palette($mat-gray, 50, 50, 200);
$my-app-foreground: mat-palette($mat-gray, 900, 700, 900);
$my-app-secondary: mat-palette($mat-gray, 300, 200, 400);

$my-app-theme: mat-light-theme((
  color: (
    primary: $my-app-primary,
    accent: $my-app-accent,
    error: $my-app-error,
    background:$my-app-background,
    foreground: $my-app-foreground,
    secondary:$my-app-secondary
  )
));

@include angular-material-theme($my-app-theme);
