<button class="floating-btn" (click)="search()">SEARCH</button>
<div mat-dialog-actions>
  <mat-accordion>
  <app-search-resources (selectedResource)="onResourceChanged($event)"></app-search-resources>
   <app-search-params></app-search-params>
  </mat-accordion>
</div>

<mat-card class="example-card" style="margin-top: 20px">
  <mat-card-header>
    <mat-card-title>Results</mat-card-title>
  </mat-card-header>
  <div class="mat-elevation-z8">
    <table [dataSource]="datasourceDE" #table class="mat-elevation-z8" mat-table matSort text-align="center">
      <ng-container matColumnDef="term">
        <th *matHeaderCellDef mat-header-cell mat-sort-header style="font-size: 16px"> Term</th>
        <td *matCellDef="let de" mat-cell>
          <div class="center" fxFlexFill matRipple>
            {{de.term}}
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="definition">
        <th *matHeaderCellDef mat-header-cell style="font-size: 16px"> Definitions</th>
        <td *matCellDef="let de" mat-cell> {{de.definition}} </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10,5,20]" showFirstLastButtons></mat-paginator>
  </div>
  <mat-card-content>
  </mat-card-content>
</mat-card>
<mat-card-actions fxLayout="row" fxLayoutGap="20px">
  <button mat-flat-button class = "control-btn" color="primary">EDIT</button>
  <button mat-flat-button class = "control-btn" (click)="saveDomainDictionary()" color="primary">SAVE</button>
</mat-card-actions>
<div *ngIf="loading" style="  position: absolute;
  top: 50%;
  left: 50%;
  margin: -70px 0 0 -70px;">
  <mat-spinner></mat-spinner>
</div>
