.example-button-container {
  display: inline;
  position: absolute;
  right: 0;
  margin-right: 30px;
  margin-top: -35px;
}

.example-full-width {
  width: 100%;
}

.overflow {
  max-height: 600px;
  overflow-y: scroll;
}
