<mat-expansion-panel style="width: 100%;">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Filters
    </mat-panel-title>
    <mat-panel-description>
      Customize search
    </mat-panel-description>
    <mat-panel-description>

    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="container" fxLayout="row" fxLayoutGap="20%">
    <section class="example-section">
  <span class="example-list-section">
   Customise search
  </span>
      <span class="example-list-section">
    <ul>
        <mat-checkbox [(ngModel)]="isDomainAnalyzeParam" #d
                      (ngModelChange)="setSearchInInternetParam(!d.checked)">
        Analyze Domain
          <input matInput placeholder="Input domain..." style="display: inline">
        </mat-checkbox>
    </ul>
         <ul>
        <mat-checkbox [(ngModel)]="isSearchInInternetParam" #s
                      (ngModelChange)="setSearchInInternetParam(!s.checked)">
        Search on Web
        </mat-checkbox>
    </ul>
         <ul>
        <mat-checkbox [(ngModel)]="isFullTextSearchParam" #f
                      (ngModelChange)="setFullTextSearchParam(!f.checked)">
        Full text search
        </mat-checkbox>
    </ul>
  </span>
    </section>

    <section class="example-section">
  <span class="example-list-section">
  Select language
  </span>
      <span class="example-list-section">
    <ul>
        <mat-checkbox [(ngModel)]="languageUA"
                      (ngModelChange)="languageChange('languageUA',true)">
        Ukrainian
        </mat-checkbox>
    </ul>
         <ul>
        <mat-checkbox [(ngModel)]="languageEN"
                      (ngModelChange)="languageChange('languageEN',true)">
        English
        </mat-checkbox>
    </ul>
         <ul>
        <mat-checkbox [(ngModel)]="languageRU"
                      (ngModelChange)="languageChange('languageRU',true)">
        Russian
        </mat-checkbox>
    </ul>
  </span>
    </section>
  </div>
</mat-expansion-panel>
